.cnt {
    border-radius: var(--brs);
    background-color: var(--font-200-full);
    padding: var(--ident-s);
    display: flex;
    gap: var(--ident-s);
    align-items: center;

    svg {
        height: 100%;
        width: 25px;
        fill: var(--font-400-full);
    }
}

.label {
    font-family: var(--ibm);

    line-height: 1.2;
    font-size: var(--fsz-l);
    color: var(--font-400-full);
}

.select {
    background-color: var(--font-100-full);
    align-self: stretch;
    border-radius: var(--brs);
    outline: none;
    font-family: var(--ibm);
    line-height: 1.2;
    font-size: var(--fsz-l);
    color: var(--font-700-full);
    padding-left: var(--ident-s);

    option {
        color: var(--font-700-full);
    }
}
