.cnt {
    // flex-grow: 1;
    display: flex;
    // grid-template-columns: auto 1fr;
    gap: var(--ident-m);
}

.filter {
	flex-grow: 1;
    display: flex;
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 2px;
        height: 100%;
        width: 25px;
        fill: var(--font-400-full);
    }

    :last-child {
        flex-grow: 1;
        padding-left: 30px;
    }
}

