.task {
    background-color: var(--bg-400-full);
    border-radius: var(--brs);
    padding: var(--ident-m);
    color: var(--font-100-full);
    display: flex;
    flex-direction: column;
    gap: var(--ident-s);
}

.top {
    display: flex;
    gap: var(--ident-s);
}

.dragging {
    background-color: var(--bg-400-40);
    * {
        opacity: 0;
    }
}

.overlay {
    filter: drop-shadow(0 0px 5px var(--bg-600-80));
}

.title {
    flex-grow: 1;
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.body {
    font-size: var(--fsz-m);
    font-family: var(--ibm);
    color: var(--font-100-80);
    padding-left: var(--ident-s);
    padding-right: var(--ident-s);
}

.bottom {
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    font-weight: 600;
    display: flex;
    gap: var(--ident-s);
    justify-content: space-between;
    padding-left: var(--ident-s);
    padding-right: var(--ident-s);
}

.daysLeft {
    font-weight: 600;
}

.warning {
    color: var(--warning);
}

.expires {
    color: var(--error);
}
