.task {
    padding: var(--ident-small);
    border-radius: var(--brs);
    transition: all var(--trs);

    [data-theme="dark"] & {
        color: var(--dark);
    }

    color: var(--light);
    background-color: var(--primary-medium);

    &:hover {
        background-color: var(--primary-medium-hover);
    }

    display: flex;
    flex-direction: column;
    gap: var(--ident-small);
    cursor: grab;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    // font-size: var(--font-sub-title);
    font-weight: 600;
    font-family: var(--ibm-cond);
    font-size: var(--font-title);
    text-transform: uppercase;
}

.btns {
    display: flex;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomLeft {
    font-weight: 600;
    font-family: var(--ibm-cond);
    text-transform: uppercase;
}

.bottomRight {
    // border: 1px solid #000;
    border-radius: var(--brs);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: var(--ident-small);
}
