.projects {
    height: 100%;
    flex: 0 1 1920px;
    color: var(--grey-800-full);
    display: grid;
    grid-template: auto 1fr /1fr 4fr;
    grid-template-areas:
        "sideBar topBar"
        "sideBar boards";
    padding: var(--ident-m);
    gap: var(--ident-m);
}

.sideBar,
.topBar {
    border-radius: var(--brs);
    padding: var(--ident-m);
}

.sideBar {
    grid-area: sideBar;
    background-color: var(--main-200-full);
}

.topBar {
    grid-area: topBar;
    background-color: var(--main-200-full);
	display: flex;
	align-items: center;
	gap: var(--ident-m);
}

.content {
    grid-area: boards;
    border-radius: var(--brs);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--fsz-xxl);
	flex-grow: 1;
	display: flex;
	gap: var(--ident-m);
	
    span:last-child {
		font-weight: 600;
    }

}

.topBarBtns {
	font-size: var(--fsz-xl);
	display: flex;
	border-right: 2px solid var(--grey-800-full);
	padding-right: var(--ident-m);

}
