.projects {
    height: 100%;
    flex: 0 1 1920px;
    color: #000;
    display: grid;
    grid-template: 1fr 5fr /1fr 4fr;
    grid-template-areas:
        "sideBar topBar"
        "sideBar boards";
    padding: var(--ident-m);
    gap: var(--ident-m);
}

.sideBar,
.boards,
.topBar {
    border-radius: var(--brs);
    padding: var(--ident-m);
}

.sideBar {
    grid-area: sideBar;
    background-color: var(--main-200-full);
}

.topBar {
    grid-area: topBar;
    background-color: var(--main-200-full);
}

.boards {
    grid-area: boards;
    background-color: var(--main-200-full);
    display: flex;
}

.boardHeader {
    color: #000;
}

.boardSection {
    display: flex;
}
