@font-face {
    font-family: "Ibm";
    src: url(./assets/fonts/Ibm/cond/IBMPlexSansCondensed-ExtraLight.woff2)
        format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "IbmCond";
    src: url(./assets/fonts/Ibm/cond/IBMPlexSansCondensed-Regular.woff2)
        format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "IbmCond";
    src: url(./assets/fonts/Ibm/cond/IBMPlexSansCondensed-SemiBold.woff2)
        format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Ibm";
    src: url(./assets/fonts/Ibm/IBMPlexSans-ExtraLight.woff2) format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "Ibm";
    src: url(./assets/fonts/Ibm/IBMPlexSans-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Ibm";
    src: url(./assets/fonts/Ibm/IBMPlexSans-SemiBold.woff2) format("woff2");
    font-weight: 600;
}
