.cnt {
    display: flex;
    flex-direction: column;
    gap: var(--ident-m);
}

.content {
    border-radius: var(--brs);
    background-color: var(--grey-200-full);
    padding: var(--ident-l);
    display: flex;
    flex-direction: column;
    color: var(--grey-700-full);
    gap: var(--ident-m);
    font-size: var(--fsz-xxl);
}

