.boards {
    display: flex;
    flex-direction: column;
    gap: var(--ident);

    li {
        button {
            width: calc(var(--boards-bar-width) - var(--ident) * 2);
            overflow: hidden;
        }
    }
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.task {
    display: block;
}
