.form,
.formDisabled {
    background-color: var(--bg-300-full);
    font-size: var(--fsz-xxl);
    padding: var(--ident-m);
    border-radius: var(--brs);
    color: var(--font-100-full);
    line-height: 1.2;
    transition: var(--trs);

    &:not(.formDisabled):hover {
        background-color: var(--bg-400-full);
        cursor: pointer;
    }
}

.header,
.headerAcive,
.icon div {
    text-transform: uppercase;
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    font-weight: 400;
    transition: var(--trs);
    color: var(--font-300-full);
    cursor: pointer;

    &:not(.headerAcive):hover {
        color: var(--font-100-full);
    }
}

.headerAcive {
    color: var(--font-100-full);
}

.icon {
    transition: var(--trs);
    display: flex;
    align-items: center;
    gap: var(--ident-s);
    svg {
        cursor: pointer;
        fill: var(--font-100-full);
        width: 20px;
        height: 20px;
    }
}

.topBar,
.task,
.draggble {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--trs);
    svg {
        transition: var(--trs);
        width: 30px;
        height: 30px;
        // height: 100%;
    }
}

.topBar {
    cursor: pointer;
    svg {
		fill: var(--font-800-70);
		&:hover {
			fill: var(--font-800-full);
        }
    }
}

.task {
    cursor: pointer;
    svg {
        fill: var(--font-100-70);

        &:hover {
            fill: var(--font-100-full);
        }
    }
}

.draggble {
    cursor: grab;
    border-radius: var(--brs);
    overflow: hidden;

    svg {
        fill: var(--font-100-70);
    }

    &:hover {
        background-color: var(--bg-300-full);
        svg {
            fill: var(--font-100-full);
        }
    }

    &:active {
        cursor: grabbing;
    }

    &.dragging {
        cursor: grabbing;
        svg {
            fill: var(--font-100-full);
            background-color: var(--bg-300-full);
        }
    }
}
