.tasks {
    display: grid;
    grid-template-rows: auto 1fr;

    // &:not(:last-child) > div {
    //     border-right: var(--border-transp);
    // }
}

.title {
    padding: var(--ident);
}

.body {
    padding-left: var(--ident);
    padding-right: var(--ident);
}
