.board {
    display: grid;
    grid-template-rows: auto 6fr;
    gap: var(--ident-m);
    overflow: hidden;
}

.header {
	display: flex;
    justify-content: center;
    gap: var(--ident-m);
    align-items: center;
    font-size: var(--fsz-l);
}

.tasksQuantity {
	font-weight: 600;
}

.tasks {
	display: flex;
	border-radius: var(--brs);
    overflow: auto;

 
}
