.boardBar {
    border-bottom: var(--border-transp);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ident);
	overflow: hidden;
}

.body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ident);
}

.box {
	display: flex;
	align-items: center;
	gap: var(--ident);
}

.btns {
	display: flex;
	align-items: center;
	gap: var(--ident-small);
}
