.boardBar {
    border-bottom: var(--border-transp);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ident);
}

.body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ident);
}
