.boardsBar {
    border-right: var(--border-transp);
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
	overflow: hidden;
    // gap: var(--ident);
}

.title {
    padding: var(--ident);
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    padding: var(--ident);
    display: grid;
    grid-template-rows: auto 1fr;
    // gap: var(--ident);

    & > :first-child {
        align-self: start;
    }
    & > :last-child {
        align-self: center;
    }
}
