.form {
    flex: 0 1 425px;
    padding: var(--ident-left-right);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--ident);

}

.btns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--ident);
}