.input,
.filter {
    background-color: var(--font-200-full);


    border-radius: var(--brs);
    color: var(--font-700-full);
    font-family: var(--ibm);
    outline: none;
    line-height: 1.2;
    transition: var(--trs);

    &::placeholder {
        color: var(--font-400-full);
        transition: var(--trs);
    }

    &:focus {
        background-color: var(--font-100-full);
    }
}
.input {
	font-size: var(--fsz-xxl);
	padding: var(--ident-m);
}

.filter {
	font-size: var(--fsz-l);
	padding: var(--ident-s);
   
}

.error {
    &::placeholder {
        color: var(--error);
    }
}
