.btn {
    display: block;
    cursor: pointer;
}

.add,
.list,
.hidden,
.active {
    font-size: var(--font-button);
    padding: var(--ident-small);
    border-radius: var(--brs);
    transition: all var(--trs);

    [data-theme="dark"] & {
        color: var(--dark);
    }
}

.add,
.list {
    color: var(--light);
    background-color: var(--primary-medium);

    &:hover {
        background-color: var(--primary-medium-hover);
    }
}

.list {
    border: var(--border-hidden);
}

.active {
    cursor: auto;
    border: var(--border-active);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.icon {
    color: var(--light);
    cursor: pointer;
    // padding: var(--ident-small);

    svg {
        fill: var(--dark);
        width: 22px;
        height: 22px;
        transition: all var(--trs);

        &:hover {
            fill: var(--dark-hover);
        }
    }
}
