.form {
    flex-basis: 768px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: var(--ident-m);
}

.expDateLabel {
    display: flex;
    align-items: center;
    gap: var(--ident-m);
    font-size: var(--fsz-xxl);
    color: var(--font-700-full);
    > input {
        flex-grow: 1;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: var(--ident-m);
    :nth-child(2) {
        flex-basis: 150px;
    }
}

.btns {
    display: flex;
    gap: var(--ident-m);
    :nth-child(n) {
        flex-basis: 50%;
    }
}

.title {
    font-size: var(--fsz-xxl);
    color: var(--font-800-full);
}
