.projects {
    height: 100%;
    flex: 0 1 1920px;
    // color: var(--font-800-full);
    color: var(--font-800-full);
    display: grid;
    grid-template: auto 1fr / auto 4fr;
    grid-template-areas:
        "sideBar topBar"
        "sideBar boards";
    padding: var(--ident-m);
    gap: var(--ident-m);
}

.sideBar,
.topBar {
    border-radius: var(--brs);
    padding: var(--ident-m);
}

.sideBar {
    grid-area: sideBar;
    background-color: var(--bg-200-full);
}

.topBar {
    grid-area: topBar;
    background-color: var(--bg-200-full);
}

.content {
    grid-area: boards;
    border-radius: var(--brs);
    display: flex;
    justify-content: center;
    align-items: center;
}
