.header {
    flex: 0 0 var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: var(--ident-top-bottom);
}

.title {
    color: var(--dark);
    font-family: var(--ibm-cond);
    font-weight: 600;
    font-size: var(--font-medium);
    text-transform: uppercase;
}
