.header {
    background-color: var(--main-600-full);
}

.cnt {
    height: 100%;
    max-width: var(--max-w);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: var(--ident-m);
    padding-right: var(--ident-m);

}

.btnCnt {
	display: flex;
	justify-content: right;
}

.title {
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    font-weight: 400;
    text-transform: uppercase;
}




