.input {
	background-color: transparent;
	padding: var(--ident-small);
	border: var(--border);
	border-radius: var(--brs);
	font-size: var(--font-small);
	color: var(--dark);
	line-height: 1;
	outline: none;
	font-family: var(--ibm);
	transition: all var(--trs);
	
	&::placeholder {
		transition: all var(--trs);
		color: var(--dark-60);
	}
	
	&:focus {
		border: var(--border-active);
	}
}

.error {
	border: var(--border-error);
	&::placeholder {
		color: var(--error);
	}

}