.cnt {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: var(--ident-s);
    padding: var(--ident-l);
	background-color: var(--grey-200-full);
}

.title {
    font-size: var(--fsz-xl);
    padding-left: var(--ident-s);
    padding-right: var(--ident-s);
    border-radius: var(--brs);
    color: var(--grey-700-full);
    font-family: var(--ibm);
    line-height: 1.2;
	
}

.item {
    font-size: var(--fsz-l);
    padding: var(--ident-s);
    border-radius: var(--brs);
    color: var(--grey-700-full);
    font-family: var(--ibm);
    line-height: 1.2;
	
}
