.links {
    padding-left: var(--fsz-s);
    padding-right: var(--fsz-s);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--ident-m);

    & > :first-child {
        padding-right: var(--ident-m);
        border-right: 1px solid var(--font-100-full);
    }
}

.hi {
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    color: var(--font-100-full);
    text-align: right;
}
