.side,
.sideActive {
    background-color: var(--main-300-full);
    font-size: var(--fsz-xxl);
    padding: var(--ident-m);
    border-radius: var(--brs);
    color: var(--grey-100-full);
    line-height: 1.2;
    transition: var(--trs);
    width: 100%;
	display: block;
	text-align: center;

    &:hover {
        background-color: var(--main-400-full);
        cursor: pointer;
    }
}

.sideActive {
	background-color: var(--main-400-full);
}

.header,
.headerActive {
    text-transform: uppercase;
    font-family: var(--ibm-cond);
    font-size: var(--fsz-l);
    font-weight: 400;
    transition: var(--trs);
    color: var(--grey-300-full);
    cursor: pointer;

    &:not(.headerAcive):hover {
        color: var(--grey-100-full);
    }
}

.headerActive {
    color: var(--grey-100-full);
}
