.cnt {
    padding: var(--ident-l);
    background-color: var(--grey-200-full);
    max-width: 420px;
    display: flex;
    flex-direction: column;
	border-radius: var(--brs);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--ident-s);
    color: var(--grey-700-full);
    margin-bottom: var(--ident-l);
}

.title {
    font-size: var(--fsz-xl);
}

.text {
    font-size: var(--fsz-l);
}
