.boards {
    flex: 1 0 auto;
    margin-bottom: var(--ident);
    border: var(--border-transp);
    border-radius: var(--brs);
    display: grid;
    grid-template-columns: var(--boards-bar-width) 1fr;
    overflow: hidden;
}
