.topBar {
    display: flex;
    align-items: center;
    gap: var(--ident-m);
}

.title {
    font-size: var(--fsz-xxl);
    flex-grow: 1;
    display: flex;

    span:nth-child(2) {
        font-weight: 600;
    }
}
