.topBar {
    display: flex;
    align-items: center;
    gap: var(--ident-m);
}

.title {
    font-size: var(--fsz-xxl);
    flex-grow: 1;
    display: flex;

    span:nth-child(2) {
        font-weight: 600;
    }
}

.topBarBtns {
    font-size: var(--fsz-xl);
    display: flex;
    border-right: 2px solid var(--grey-800-full);
    padding-right: var(--ident-m);
}
