.btn {
    background-color: var(--main-300-full);
    font-size: var(--fsz-xxl);
    padding: var(--ident-m);
    border-radius: var(--brs);
    color: var(--grey-100-full);
    line-height: 1.2;
    transition: var(--trs);
    cursor: pointer;

    &:hover {
        background-color: var(--main-400-full);
    }
}
