@use "./assets/fonts/fonts";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--ident-left-right);
}

$transparancies: (
    "90": 0.9,
    "80": 0.8,
    "60": 0.6,
    "hover": 0.5,
    "40": 0.4,
    "20": 0.2,
    "10": 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
    @each $name, $tp in $transparancies {
        --#{$prefix}-#{$name}: #{"rgba(" + $value + "," + $tp + ")"};
    }
}

.theme {
    --primary: rgb(79, 204, 196);
    @include makeTransparentColors("primary", "78, 205, 196");

    --primary-medium: rgb(0, 166, 152);
    @include makeTransparentColors("primary-medium", "0, 166, 152");

    --primary-dark: rgb(0, 136, 119);
    @include makeTransparentColors("primary-dark", "0, 136, 119");

    --primary-darkest: rgb(0, 104, 88);
    @include makeTransparentColors("primary-darkest", "0, 104, 88");

    --warning: rgb(255, 230, 109);
    @include makeTransparentColors("warning", "255, 230, 109");

    --error: rgb(255, 107, 107);
    @include makeTransparentColors("error", "255, 107, 107");

    --header-height: 45px;

    --ident-left-right: 0 10px;
    --ident-top-bottom: 10px 0;
    --ident: 10px;
    --ident-small: 5px;

    --font-big: 1.5rem;
    --font-medium: 1.2rem;
    --font-small: 1rem;

    --trs: 300ms ease;
    // --trs: 1500ms ease;

    --brs: 5px;

    --ibm-cond: "IbmCond", sans-serif;

    --ibm: "Ibm", sans-serif;

    --border-transp: 1px solid var(--dark-40);
    --border-active: 1px solid var(--primary-medium);
    --border-error: 1px solid var(--error);
    --border: 1px solid var(--dark);

    font-family: var(--ibm);

    background-color: var(--light);

    color: var(--dark);

    line-height: 1.2;

    &[data-theme="light"] {
        --light: rgb(247, 255, 247);
        @include makeTransparentColors("light", "247, 255, 247");

        --dark: rgb(41, 47, 54);
        @include makeTransparentColors("dark", "41, 47, 54");
    }

    &[data-theme="dark"] {
        --dark: rgb(247, 255, 247);
        @include makeTransparentColors("dark", "247, 255, 247");

        --light: rgb(41, 47, 54);
        @include makeTransparentColors("light", "41, 47, 54");
    }
}
