@use "./assets/fonts/fonts";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

$transparancies: (
    "90": 0.9,
    "80": 0.8,
    "60": 0.6,
    "40": 0.4,
    "20": 0.2,
    "10": 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
    @each $name, $tp in $transparancies {
        --#{$prefix}-#{$name}: #{"rgba(" + $value + "," + $tp + ")"};
    }
}

body {
    --primary: rgb(79, 204, 196);
    @include makeTransparentColors("primary", "78, 205, 196");

    --primary-medium: rgb(0, 166, 152);
    @include makeTransparentColors("primary-medium", "0, 166, 152");

    --primary-dark: rgb(0, 136, 119);
    @include makeTransparentColors("primary-dark", "0, 136, 119");

    --primary-darkest: rgb(0, 104, 88);
    @include makeTransparentColors("primary-darkest", "0, 104, 88");

    --light: rgb(247, 255, 247);
    @include makeTransparentColors("light", "247, 255, 247");

    --dark: rgb(41, 47, 54);
    @include makeTransparentColors("dark", "41, 47, 54");

    // --dark: rgb(247, 255, 247);
    // @include makeTransparentColors("dark", "247, 255, 247");

    // --light: rgb(41, 47, 54);
    // @include makeTransparentColors("light", "41, 47, 54");

    --warning: rgb(255, 230, 109);
    @include makeTransparentColors("warning", "255, 230, 109");

    --error: rgb(255, 107, 107);
    @include makeTransparentColors("error", "255, 107, 107");

    --header-height: 45px;

    --ident-left-right: 0 10px;
    --ident-top-bottom: 10px 0;
    --ident: 10px;
    --ident-btn: 5px;

    --font-big: 1.5rem;
    --font-medium: 1.2rem;
    --font-small: 1rem;

    --brs: 5px;

    --ibm-cond: "IBM Plex Sans Condensed", sans-serif;

    --ibm: "IBM Plex Sans", sans-serif;

    --border-transp: 1px solid var(--dark-40);
    --border: 1px solid var(--dark);

    font-family: var(--ibm);

    background-color: var(--light);

    color: var(--dark);

    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {
    border: none;
    // width: auto;
    // overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

li {
    list-style-type: none;
}
