@use "./assets/fonts/fonts";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

$transparancies: (
    "90": 0.9,
    "80": 0.8,
    "60": 0.6,
    "hover": 0.5,
    "40": 0.4,
    "20": 0.2,
    "10": 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
    @each $name, $tp in $transparancies {
        --#{$prefix}-#{$name}: #{"rgba(" + $value + "," + $tp + ")"};
    }
}

:root {
    --light: rgb(247, 255, 247);
    @include makeTransparentColors("light", "247, 255, 247");

    --dark: rgb(41, 47, 54);
    @include makeTransparentColors("dark", "41, 47, 54");

    --primary: rgb(79, 204, 196);
    @include makeTransparentColors("primary", "78, 205, 196");

    --primary-medium: rgb(0, 166, 152);
    @include makeTransparentColors("primary-medium", "0, 166, 152");

    --primary-dark: rgb(0, 136, 119);
    @include makeTransparentColors("primary-dark", "0, 136, 119");

    --primary-darkest: rgb(0, 104, 88);
    @include makeTransparentColors("primary-darkest", "0, 104, 88");

    --warning: rgb(255, 230, 109);
    @include makeTransparentColors("warning", "255, 230, 109");

    --error: rgb(255, 107, 107);
    @include makeTransparentColors("error", "255, 107, 107");

    --header-height: 50px;

    --boards-bar-width: 150px;

    --ident-left-right: 0 10px;
    --ident-top-bottom: 10px 0;
    --ident: 10px;
    --ident-small: 5px;

    --font-title: 1.2rem;
    --font-sub-title: 1.3rem;
    --font-button: 1rem;
    --font-text: 1rem;

    --trs: 300ms ease;
    // --trs: 1500ms ease;

    --brs: 5px;

    --ibm-cond: "IbmCond", sans-serif;

    --ibm: "Ibm", sans-serif;

    --border-transp: 2px solid var(--dark-40);
    --border-hidden: 2px solid transparent;
    --border-active: 2px solid var(--primary-medium);
    --border-error: 2px solid var(--error);
    --border: 2px solid var(--dark);
}

body {
    font-family: var(--ibm);

    background-color: var(--dark);

    color: var(--light);

    line-height: 1.2;

    // &[data-theme="dark"] {
    //     --dark: rgb(247, 255, 247);
    //     @include makeTransparentColors("dark", "247, 255, 247");

    //     --light: rgb(41, 47, 54);
    //     @include makeTransparentColors("light", "41, 47, 54");
    // }

    // &[data-theme="light"] {
    //     --light: rgb(247, 255, 247);
    //     @include makeTransparentColors("light", "247, 255, 247");

    //     --dark: rgb(41, 47, 54);
    //     @include makeTransparentColors("dark", "41, 47, 54");
    // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

li {
    list-style-type: none;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
