.btns {
    display: flex;
    // border-right: 2px solid var(--grey-800-full);
    // padding-right: var(--ident-m);
}


.projectBtns {
    font-size: var(--fsz-xl);
    // display: flex;
    border-right: 2px solid var(--grey-800-full);
    padding-right: var(--ident-m);
}

.taskBtns {
	font-size: var(--fsz-l);
}
